header{
    position: fixed;

    z-index: 30;

    width: 100%;
}
.header-wrraper {
    background-color: #063f73;	

    height: 100px;
    
    padding-left: 10px;
    padding-right: 40px;

    display: -webkit-box;

    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;

}
/* logo */
.header__logo img{
    height: 90px;
}
/* middle */
.header__middle{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    justify-content: space-around;

    max-height: 100%;
}
.header-wrraper h2 {
    font-size: 42px;
}
.header-wrraper h2 span{
    font-weight: 300;
    font-size: 26px;
}

.header__link {
    margin-bottom: -60px;
}
.header__link a{
    color: #ffc000;
    -webkit-transition: all .2s;
    transition: all .2s;
}
/* .header__link a::after{
    width: 100%;
    height: 1px;

    background-color: #ffc000;

    transform: scaleX(0);
    transition: all .1s;

    content: '';

    display: block;
}
.header__link a:hover::after{
    transform: scaleX(1);
} */
/* autorize */

.authorization {
    height: 87%; 
    width: 90px;

    padding: 5px;

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;

    cursor: pointer;

    position: relative;
}
.authorization img{
    width: 50px;
    height: 50px;

    border-radius: 100%;

    color: transparent;

    background-color: rgb(243, 243, 243);

    display: block;
}
.authorization__menu{
    position: absolute;

    top: 90%;

    width: 100px;
    height: 100px;

    background-color: white;

    border-radius: 5px;
    border: 1px ridge rgb(190, 190, 190);

    z-index: 1;

    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
    justify-content: space-around;
}
.authorization__menu li{
    width: 50%;

    margin-left: 20px;
}
.authorization__menu li a{
    color: rgb(77, 77, 77);
    -webkit-transition: all .2s;
    transition: all .2s;
}
.authorization__menu li a:hover{
    color: rgb(185, 185, 185);
}
/* section-------------------------------------------------------------------- */
.page2-wrraper{
    padding-top: calc(28.5vh - 80px);
}
.poligons-wrraper{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    flex-flow: wrap;

    padding: 0;

    margin-top: -40px;
}
.poligons-wrraper:last-child{
    margin-top: -140px;
}

.poligon{
    border-radius: 50%;
    box-sizing: content-box;
    padding-top: 52px;
    padding-bottom: 52px;

    min-height: 140px;
    min-width: 210px;

    max-height: 140px;
    max-width: 210px;

    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;

    display: -webkit-box;

    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;

    position: relative;
}

.poligon__elem{
    width: 100%;
    height: 49.5%;

    top: 25%;

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: justify;
            justify-content: space-between;

    position: absolute;
}
.poligon--first .poligon__elem:nth-child(1){
    z-index: 1;
  }
  .poligon--first .poligon__elem:nth-child(2){
      -webkit-transform: rotate(120deg);
              transform: rotate(120deg);
  
  }
  .poligon--first .poligon__elem:nth-child(3){
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
}
.poligon--bordered .poligon__elem:nth-child(1){
    z-index: 1;
  }
  .poligon--bordered .poligon__elem:nth-child(2){
      -webkit-transform: rotate(120deg);
              transform: rotate(120deg);
  
  }
  .poligon--bordered .poligon__elem:nth-child(3){
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
}
/* front */
.front .poligon__elem:nth-child(1){
  z-index: 0;
}
.front .poligon__elem:nth-child(2){
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);

            z-index: -1;

}
.front .poligon__elem:nth-child(3){
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);

            z-index: -1;

}
/* back */
.back .poligon__elem{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;

    background-color: #063f73;;

    padding: 5px;
}
.back .poligon__elem article{
    width: 100%;

    font-weight: normal;
    font-size: 15px;
    text-align: center;
}
.back .poligon__elem:nth-child(2){
    z-index: 1;
}
  .back .poligon__elem:nth-child(3){
      -webkit-transform: rotate(60deg);
              transform: rotate(60deg);

              z-index: -1;
  
  }
  .back .poligon__elem:nth-child(4){
      -webkit-transform: rotate(120deg);
              transform: rotate(120deg);
  }
.poligon__img{
    height: 70px;
}
.poligon__elem h2{
    font-size: 16px;
    font-weight: 300;
}
.poligon a{
position: absolute;

width: 100%;
height: 140%;

margin-top: -30px;
border-radius: 50%;

z-index: 2;
}
/* bordered */
.poligon--bordered{
    position: relative;

    top: 27%;
}
.poligon--bordered a{
    display: none;
}
.poligon__elem--bordered{
    border-left: 3px dashed #2f528f;
    border-right: 3px dashed #2f528f;

    height: 45%;

    -webkit-transition: all .2s;

    transition: all .2s;
}
.poligon__elem--bordered img{
    position: absolute;

    height: 200%;
    width: 90%;

    top: -50%;
    right: 4%;
}
/* poligon hover ------------------------------------------------ */

.poligon-wrraper{
    background-color: transparent;
    position: absolute;

    width: 100%;
    height: 100%;

    -webkit-transform-style: preserve-3d;transform-style: preserve-3d;

    -webkit-transform: rotateY(0deg);

            transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    

    transform: rotateY(0deg);
}

.front{
    display: block;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;

    width: 100%;
    height: 100%;

    cursor: pointer;
}
.back{
    display: block;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;

    height: 100%;
    width: 100%;

    cursor: pointer;

    -webkit-transform: rotateY(180deg);

            transform: rotateY(180deg);
}
.poligon:hover>.poligon__elem--bordered, .poligon:hover>.no-hover{
    background-color: transparent;
}
.poligon:hover>.no-hover{
    background-color: #063f73;
}

/* first */

.poligon--first .poligon__elem{
    padding-left: 15px;
    padding-right: 15px;

    background-color: #063f73;

    -webkit-box-pack: center;

            justify-content: center;

            -webkit-transition: all .2s;

            transition: all .2s;
}

.poligon--first .poligon__elem h2{
    font-size: 18px;
}
.poligon--first .poligon__elem h2::after{
    display: block;

    content: '';

    width: 100%;
    height: 3px;

    margin-top: 10px;

    background-color: #fc8507;

    -webkit-transition: all .2s;

    transition: all .2s;
}
/* colors */
.poligon__elem--green{
    background-color: #31b900;

    -webkit-transition: all .2s;

    transition: all .2s;
}
.poligon__elem--blue{
    background-color: #004eac;

    -webkit-transition: all .2s;

    transition: all .2s;
}
.poligon__elem--orange{
    background-color: #fc8507;

    -webkit-transition: all .2s;

    transition: all .2s;
}
.poligon__elem--empty{
    background-color: #0070c0;

    -webkit-transition: all .2s;

    transition: all .2s;
}
.poligon__elem--red{
    background-color: #9e3e34;

    -webkit-transition: all .2s;

    transition: all .2s;
}
.poligon__elem--black{
    background-color: #000000;

    -webkit-transition: all .2s;

    transition: all .2s;
}
.poligon__elem--black img{
    height: 100px;
}



/* footer------------------------------------------------------- */
footer{
    position: fixed;

    bottom: 0;

    width: 100%;

    z-index: 30;
}
.footer-wrraper {
    background-color: #063f73;	
    font-size: 11px;

    height: 30px;
    padding-right: 40px;
    
    display: -webkit-box;
    
    display: flex;
    -webkit-box-pack: end;
            justify-content: end;
    -webkit-box-align: center;
            align-items: center;

    position: relative;
}
#bulb{
    position: absolute;

    bottom: 2px;
    left: 6px;

    z-index: -20;

    height: 140px;
}
/* MEDIA ------------------------------------------------------------------------------------------------ */

/* media for page2 and page3 */
@media(max-width: 958px){
    .header__logo img{
        height: 60px;
    }
    /* middle text */
    .header__middle h2{
        font-size: 38px;
    }
    .header__middle span{
        font-size: 22px;
    }
    .header__link{
        font-size: 14px;
    }
}
@media(max-width: 838px){
    .header__middle{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-flow: column;
    }
    .header__middle h2{
        margin: 0;
    }
    .header__link{
        margin: 0px;
    }
}
@media(max-width: 644px){
    .header__logo img{
        height: 40px;
    }
}
@media(max-width: 574px){
    .header__middle h2{
        font-size: 32px;
    }
    .header__middle span{
        font-size: 18px;
    }
    .header__link{
        font-size: 12px;
        margin-top: 8px;
    }
}
@media(max-width: 510px){
    .header__logo img{
        display: none;
    }
}
@media(max-width: 389px){
    .header__middle h2{
        width: 200px;

        padding-left: 22px;

       line-height: 25px;
    }
}
/* page2 only media -------------------------------------------*/
@media(max-width: 1149px){
    .page2-wrraper{
        width: 100%;
    }
    .poligon{
        min-height: 120px;
    min-width: 190px;

    max-height: 120px;
    max-width: 190px;

    }
    .page2-wrraper{
        padding-top: 15vh;
    }
    .poligon__elem{
        height: 48.8%;
    }
    .poligon__elem--bordered{
        height: 44% !important;
    }
    .poligon--first .poligon__elem h2 {
        font-size: 16px;
    }
}
@media(max-width: 1049px){
    .poligon{
        min-height: 110px;
    min-width: 180px;

    max-height: 110px;
    max-width: 180px;

    }
    .page2-wrraper{
        padding-top: 17vh;
    }
    .poligon__elem{
        height: 48.4%;
    }
    .poligon--first .poligon__elem h2 {
        font-size: 15px;
    }
    .back .poligon__elem article {
        font-size: 15px;
    }
}
@media(max-width: 999px){
    .poligon--bordered {
        margin-top: -30px;
    }
    .bordered-second{
        margin-top: 85px;
    }
}
@media(max-width: 799px){
    /* .poligons-wrraper:last-child {
        margin-top: -180px;
    } */
    .poligon--orange{
        margin-top: -32px;
    }
    .poligon--black{
        margin-top: 0;
    }
}

@media(max-width: 599px){
    .poligon--blue{
        margin-top: 0;
    }
    .poligon--red{
        margin-top: 0;
    }
    .poligon--orange{
        margin-top: 0px;
    }
}
@media(max-width: 399px){
    .poligon--green{
        margin-top: 0;
    }
    .poligon--empty{
        margin-top: 0;
    }
    .poligon--bordered{
        margin-top: 8px;
    }
    .bordered-second{
        margin-top: 127px;
    }
}